<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.njmeter.constantflowvalve">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 避免Android8.0安装APK时提示解析安装包错误 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".ConstantFlowValveApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/BlueTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".loginregister.activity.SplashActivity"
            android:launchMode="singleTask"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 登录注册 -->
        <activity
            android:name=".loginregister.activity.LoginRegisterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 找回密码 -->
        <activity
            android:name=".loginregister.activity.RetrievePasswordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 更改密码 -->
        <activity
            android:name=".loginregister.activity.ChangePasswordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 主界面 -->
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 联系我们 -->
        <activity
            android:name=".aboutapp.activity.ContactUsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 通用网页 -->
        <activity
            android:name=".aboutapp.activity.HtmlActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- 版本信息 -->
        <activity
            android:name=".aboutapp.activity.VersionsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

    </application>

</manifest>